@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

.fondo {
  background-color: darkgoldenrod;
  justify-content: space-evenly;
}

.title {
  text-shadow: 7px 5px 4px rgba(145, 97, 52, 0.81);
  color: rgba(65, 63, 63, 0.959);
  font-size: 5em;
  font-family: "Tangerine";
  display: flex;
  text-align: center;
  justify-content: center;
}

.card {
  font-family: "Gotu";
  color: white;
  text-shadow: 3px 3px 2px rgba(24, 24, 26, 0.9);
  flex-wrap: wrap;
  border-radius: 10px;
  width: 18rem;
  height: 27, 2rem;
  margin: 20px;
  margin-left: 15px;
  display: flex;
  padding: auto;
  box-shadow: 10px 10px 13px -2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 13px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 13px -2px rgba(0, 0, 0, 1);
}

.card-title {
  color: rgb(245, 184, 184);
  font-size: 35px;
  text-align: left;
  font-family: "Tangerine";
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 14rem;
}

.total {
  color: rgba(17, 17, 17, 0.959);
  text-align: left;
  padding-left: 20px;
}

.search {
  background-color: transparent;
  margin-top: 50px;
  margin: 25px 0;
}
.boton-compra {
  background-color: rgb(92, 23, 0);
  font-size: 12px;
  display: inline-block;
  border: none;
  margin-left: 110px;
}
.boton-borrar {
  font-size: 12px;
  border: none;
  background-color: rgb(0, 89, 92);
  display: inline-block;
}

.boton-borrar:hover {
  background-color: rgb(0, 100, 110);
  box-shadow: 5px 5px 7px -2px rgb(59, 59, 59);
}

h6 {
  text-align: right;
  display: block;
  width: 100%;
}
.boton-compra:hover {
  background-color: rgb(100, 25, 11);
  box-shadow: 5px 5px 7px -2px rgba(59, 59, 59);
}

.info {
  text-align: right;
  color: rgba(17, 17, 17, 0.959);
  text-shadow: none;
  font-size: 13px;
  padding-left: 25px;
}

.card-header {
  text-align: right;
  text-shadow: none;
  font-size: 12px;
}
.recargar{
    font-size: 18px;
    border: none;
    background-color: rgb(61, 165, 1);
    display: inline;
    border-radius: 8px;
    position: relative;
    margin-left: 50%;
  }
  
  .recargar:hover {
    background-color: rgb(4, 110, 0);
    box-shadow: 5px 5px 7px -2px rgb(59, 59, 59);
    color:beige
}